
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rei do Salgado</title>
  <link rel="stylesheet" type="text/css" href="../style/Formatações.css" />
</head>



<nav id="menu">
    <h1>Menu Principal<h1>
      <ul>        
        <li><a href="inicio.html">Inicio</a></li>
            <li><a href="a_rede.html">A rede</a></li>
            <li><a href="Sobre_nos.html">Sobre nós</a></li>
            <li><a href="Lojas.html">Lojas</a></li>
            <li><a href="cardapio.html">Cardapio</a></li>
            <li><a href="formulario.html">Formulario</a></li>
        <!--para adicionar um subgrupo 
        < ol>
              li coxinhas li
             li churros li 
          < ol >-->
             
        <li><a href="ifood.html">Ifood</a></li>
      </ul>    


  </nav>